{% extends 'layout/base.html'%}

{% block content%}
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Email</th>
            <th>Employee Contact</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.eid }}</td>
            <td>{{ employee.ename }}</td>
            <td>{{ employee.eemail }}</td>
            <td>{{ employee.econtact }}</td>
            <td>
                <a href="/show/{{ employee.id }}">show</a>
                <a href="/edit/{{ employee.id }}">edit</a>
                <a href="/delete/{{ employee.id }}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
console.log("ajjaj")
</script>
{% endblock %}